<div class="todo-container">
    <h2>Mes tâches</h2>
    <div class="add-todo">
        <input 
            class="add-input"
            [(ngModel)]="newTodoTitle"
            placeholder="Ajouter une nouvelle tâche..."
            (keyup.enter)="addTodo()">
        <button (click)="addTodo()">Ajouter</button>
    </div>
    <ul class="todo-list">
        @for (todo of todos$ | async; track todo.id) {
            <app-todo-item
                [todo]="todo"
                (toggleComplete)="toggleTodo($event)"
                (deleteTodo)="deleteTodo($event)"
            ></app-todo-item>
        }
    </ul>
</div>